# Clerk configuration, get this key from your [Dashboard](dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
# Database URL for PostgreSQL
DATABASE_URL=
BLOB_READ_WRITE_TOKEN=
VITE_ASSISTANT_ID=
VITE_VAPI_API_KEY=